{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "warn",
    "import/no-unresolved": "off",
    "no-useless-escape": "off",
    "linebreak-style": "off",
    "react/function-component-definition": "off",
    "max-len": "off",
    "react/button-has-type": "off",
    "react/self-closing-comp": "off",
    "react/prop-types": "off",
    "no-unused-vars":"warn",
    "arrow-body-style": "off"
  },
  "overrides": [
    {
        "files": ["./src/pages/*.jsx"],
        "rules": {
            "no-unused-expressions":"off",
            "import/no-default-export": "off"
        }
    },
    {
        "files": ["gatsby-browser.jsx", "gatsby-ssr.jsx", "*.styles.*"],
        "rules": {
            "no-unused-expressions":"off"
        }
    }
  ]
}
